.header-image {
  background-image: url(./images/251453-2121x1414-non-alcoholic-cocktails.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.card {
  width: 50%;
  left: 25%;
}

.dropdown-trigger {
  min-width: 192px;
}
